// Здесь пишем переменные
$color-background: #f1f2ec;
$color-background-mobile: #EDF2EC;
$color-background-item: #D6E7D2;
$color-primary: #499A18;
$color-secondary: #E06733;
$color-nav-link: #010201;
$color-description: #636060;
$color-title: #717171;
$color-hamburger: #717171;
$color-black: #000;
$color-white: #fff;
$color-border-gray: #E3E1D5;
$color-line: #AEA1A1;
$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 380px;
$mobile-small-width: 320px;