// Здесь пишем переменные
$color-background-section: #EDF2EC;
$color-primary: #499A18;
$color-secondary: #E06733;
$color-nav-link: #010201;
$content-width: 1440px;
$color-description: #636060;
$color-title: #717171;
$color-black: #000;
$color-white: #fff;