%transition {
    transition: all .3s ease-out;
}

%font-primary {
    font-family: 'Inter', Verdana, sans-serif;
}

%font-secondary {
    font-family: 'Inika', Verdana, sans-serif;
}

%transition-menu {
    transition: all .5s ease-out;
}

