.footer__wrapper {
    padding: 40px 109px;

    @include media-tablet {
        padding: 0;
    }

}
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-tablet {
        flex-direction: column;
        align-items: center;
    }
}

.footer__data {
    @include media-tablet {
        padding-top: 33px;
    }

    @include media-mobile {
        padding-top: 20px;
    }
}

.footer__rss {
    @include media-tablet {
        padding-top: 15px;
    }
}

.footer__inst {
    width: 32px;
    height: 32px;
    background-image: url(../img/footer/inst.svg);
    display: inline-block;
}

.footer__fb {
    width: 32px;
    height: 32px;
    background-image: url(../img/footer/fb.svg);
    display: inline-block;
}

.footer__tw {
    width: 32px;
    height: 32px;
    background-image: url(../img/footer/tw.svg);
    display: inline-block;
}

.footer__pint {
    width: 32px;
    height: 32px;
    background-image: url(../img/footer/pint.svg);
    display: inline-block;
}

.footer__social-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    >* {
        margin-left: 20px;
    }
    :first-child {
        margin-left: 0;
    }

    @include media-tablet {
        padding-top: 25px;
        padding-bottom: 24px;
    }

    @include media-mobile {
        padding-top: 14px;
        padding-bottom: 13px;

    }
}

.footer__link {
    text-decoration: none;
    color: $color-black;
    &:hover {
        text-decoration: underline;
    }
}

.footer__link-social {
    text-decoration: none;
}

 .footer__data-data, .footer__rss-rss {
    @extend %font-primary;
    @include font($size: 2.0rem, $height: 5.0rem);  
    
    @include media-tablet {
        @include font($size: 2.0rem, $height: 2.4rem); 
    }
}