.header {
    background: $color-background;
    @include media-mobile {
        background: $color-background-mobile;
    }
}

.header__wrapper {
    padding: 25px 109px 25px 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-tablet {
        padding: 21px 50px 14px 50px;
    }
    @include media-mobile {
        padding: 30px 25px 30px 25px;
    }
}