.contacts {
    background: $color-background;
}
.contacts__wrapper {
    padding: 0 109px;
    display: flex;

    @include media-tablet {
        flex-direction: column;
        align-items: center;
    }
    
}

.contacts__img {
    padding-top: 53px;
    @include media-tablet {
        padding: 0px;
        order: 3;
        margin: 249px 0 0 17px;
    }
}

.contacts__title {
    margin-left: 113px;
    padding-top: 60px;
    @include media-tablet {
        margin: 0;
        padding: 0;
    }
    @include media-tablet {
        order: 1;
        margin-top: 40px;
    }

}

.contacts__title-title {
    text-align: center;
    @extend %font-secondary;
    @include font($size: 4.0rem, $weight: 700, $height: 5.2rem);
    color: $color-primary;
}

.contacts__city {
    padding-top: 148px;
    margin-left: 69px;
    flex-grow: 1;

    @include media-tablet {
        margin: 100px 0 0 0;
        padding: 0;
        order: 2;
        
    }
}

.contacts__img-img {
    width: 400px;
    height: 497px;
    background-image: url(../img/contacts/contact_woman.png);
    display: inline-block;
    vertical-align: bottom;

    @include media-tablet {
        width: 200px;
        height: 248px;
        background-image: url(../img/contacts/contact_woman-tablet.png);
        background-repeat: no-repeat;
        vertical-align: bottom;
        
    }
}

.contacts-item-content__item {
    width: 100%;
    list-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @extend %font-primary;
    @include font($size: 2.0rem, $height: 4.0rem);
    color: $color-title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 17px 5px 20px;
    background: $color-background-item;
    &:hover {
        cursor: pointer;
    }

    @include media-tablet {
        width: 450px;
        height: 50px;
        padding: 0 35px 0 20px;
    }
}

.contacts-item-content { 
    margin: 0;
    padding: 0;
}
.contacts-item-content__icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/contacts/accordion_btn.png);
    display: inline-block;
}

#contacts {
	scroll-behavior: smooth;
}