.prices__wrapper {
    padding: 40px 109px 120px 109px;
    
    @include media-tablet {
        padding: 40px 50px 92px 50px;
    }
}
.prices__content {
    padding-right: 279px;
    
    @include media-tablet {
        padding: 0;
    }
}

.prices-item-content {    
    border-radius: 20px;
    border: 1px solid $color-border-gray;
    padding: 33px 41px 32px 41px;
    :first-child {
        margin-top: 0;
    }
    margin: 60px 0 0 0;

    @include media-tablet {
        margin-top: 57px;
    }
 }

.prices-item-content__item {
    list-style: none;
    border-radius: 20px;
    background: $color-background;
    margin: 32px 0 0;
    @extend %font-primary;
    @include font($size: 2.0rem, $weight: 700);
    color: $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    &:hover {
        cursor: pointer;
    }
}

.prices__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include media-tablet {
        padding-top: 99px;
    }
}

.prices-item-content__icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/prices/accordion_btn.png);
    display: inline-block;
}

.prices__title-content {
    @extend %font-primary;
    @include font($size: 4.0rem, $weight: 700, $height: 4.8rem);
    color: $color-black;

    @include media-tablet {
        @include font($size: 3.5rem, $weight: 700, $height: 4.2rem);
        padding-left: 15px;
    }
}

.prices__title-contact {
    @extend %font-primary;
    @include font($size: 4.0rem, $weight: 700, $height: 4.8rem);
    color: $color-black;
    &-colored {
        color: $color-primary;
    }
    text-align: end;
    padding-left: 50px;

    @include media-tablet {
        @include font($size: 2.5rem, $weight: 700, $height: 3.5rem);
    }
}

.prices__img {
    width: 152px;
    height: 175px;
    display: inline-block;
    background-image: url(../img/prices/leafs.png);
    margin-top: 39px;

    @include media-tablet {
        margin-top: 30px;
    }
}

.prices__button {
    width: 162px;
    height: 50px;
    text-align: center;
    @extend %font-secondary;
    @include font($size: 2.0rem, $weight: 700, $height: 2.6rem);
    background: $color-white;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    border-radius: 5px;
    padding: 12px 0px;
    margin-top: 38px;
    
    &:hover {
        background: $color-secondary;
        color: $color-white;
    }

    @include media-tablet {
        margin-top: 29px;
    }
}

#price {
	scroll-behavior: smooth;
}