.service {
    background: $color-background;
}
.service__wrapper {
    padding: 90px 109px 66px 109px;

    @include media-tablet {
        padding: 40px 50px 34px 50px;
    }
}

.service-card {
    margin: 0 0 38px;
}

.service-card__wrapper {
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid $color-border-gray;
    background-color: $color-background;

    @include media-tablet {
        width: 281px;
        height: auto;
    }
}

.service-card__img {
    width: 330px;
    height: 350px;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @include media-tablet {
        width: 281px;
        height: 350px;
    }
}


.service-card__title {
    @extend %font-primary;
    @include font($size: 2.0rem, $weight: 700);
    color: $color-secondary;
    margin-top: 10px;

    @include media-tablet {
        margin: 0;
    }
}

.service-card__text-content {
    width: 100%;
    padding: 10px 0 36px 0;
    text-align: center;
    border: 1px solid $color-border-gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @include media-tablet {
        //padding: 10px 0 0 0;
        padding-bottom: 20px;
        border: none;
        border-top: 1px solid $color-border-gray;
    }
}

.service-card__description {
    @extend %font-primary;
    @include font($height: 2.0 rem);
    color: $color-description;
    margin: 10px 0 0 0;

    @include media-tablet {
      padding: 0 10px;  
        
    }
}

.service-card__img-garden-care-1 {
    background-image: url("../img/service/garden-care-1.jpg");
    @include media-tablet {
        background-image: url("../img/service/garden-care-tablet-1.jpg");
        background-repeat: no-repeat;
    }
}

.service-card__img-planting-1 {
    background-image: url("../img/service/planting-1.jpg");
    @include media-tablet {
        background-image: url("../img/service/planting-tablet-1.jpg");
        background-repeat: no-repeat;
    }
}

.service-card__img-lawn-care {
    background-image: url("../img/service/lawn-care.jpg");
    @include media-tablet {
        background-image: url("../img/service/lawn-care-tablet.jpg");
        background-repeat: no-repeat;
    }
}

.service-card__img-planting-2 {
    background-image: url("../img/service/planting-2.jpg");
    @include media-tablet {
        background-image: url("../img/service/planting-tablet-2.jpg");
        background-repeat: no-repeat;
    }
}

.service-card__img-garden-care-2 {
    background-image: url("../img/service/garden-care-2.jpg");
    @include media-tablet {
        background-image: url("../img/service/garden-care-tablet-2.jpg"); 
        background-repeat: no-repeat;
    }
}

.service-card__img-planting-3 {
    background-image: url("../img/service/planting-3.jpg");
    @include media-tablet {
        background-image: url("../img/service/planting-tablet-3.jpg");
        background-repeat: no-repeat;
    }
}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 324px 0px 109px;

    @include media-tablet {
        padding: 0 0 0 50px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.service-header__title {
    @extend %font-secondary;
    width: 306px;
    @include font($size: 4.0rem, $height: 5.2rem);
    color: $color-primary;
    
    @include media-tablet {
        @include font($size: 3.5rem, $height: 4.5rem);
        width: auto;  
        margin: 60px 412px 43px 0px;
    }
}

.service-header__button-wrapper {
    width: 559px;
    display: flex;
    justify-content: space-between;
    @include media-tablet {

    }
    
}

.service-header__button {
    width: 161px;
    height: 50px;
    padding: 12px 0px;
    text-align: center;
    @extend %font-secondary;
    @include font($size: 2.0rem, $height: 2.6rem);
    color: $color-secondary;
    background: $color-background;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    &-active {
        background: $color-secondary;
        color: $color-white;
    }
    &:hover {
        background: $color-secondary;
        color: $color-white;
        @extend %transition;
    }

}

#service {
	scroll-behavior: smooth;
}