.welcome {
    background: $color-background-section;
}
.welcome__wrapper {
    padding: 62px 109px;
    display: flex;
    justify-content: space-between;
}

.welcome__text {
    max-width: 549px;
    margin: 36px 0 0 0;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
}

.welcome__img {
    background-image: url("../img/welcome/leafs.png");
    width: 449px;
    height: 407px;
    display: inline-block;
}

.welcome__title {
    min-width: 549px;
    margin: 0;
    @extend %font-primary;
    @include font($size: 4.5rem, $weight: 700, $height: 5.0rem);
    color: $color-title;
    &_colored {
        color: $color-primary;
    }
}

.welcome__description {
    min-width: 525px;
    margin: 42px 0 0 0;
    @extend %font-primary;
    @include font($size: 2.0rem, $height: 3.5rem);
    color: $color-description;
}

.welcome__button {
    padding: 14px 27px;
    margin: 48px 0 0 0;
    background: $color-background-section;
    border-radius: 10px;
    border: 2px solid $color-secondary;
    @extend %font-primary;
    @include font($height: 2.0rem);
    color: $color-black;

}