@import "../node_modules/normalize.css/normalize.css";
.welcome__button:hover, .service-header__button:hover {
  transition: all 0.3s ease-out;
}

.footer__data-data, .footer__rss-rss, .welcome__button, .welcome__description, .welcome__title, .service-card__description, .service-card__title, .prices__title-contact, .prices__title-content, .prices-item-content__item, .contacts-item-content__item, .about__description {
  font-family: "Inter", Verdana, sans-serif;
}

.service-header__button, .service-header__title, .prices__button, .contacts__title-title, .about__title, .navigation__item, .logo__text {
  font-family: "Inika", Verdana, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

h1, h2, h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.logo__img {
  background-image: url("../img/logo/logo.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 29px;
  display: inline-block;
}

.logo__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0rem;
}

.navigation__wrapper {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 452px;
  height: 50px;
}
@media (max-width: 768px) {
  .navigation__wrapper {
    padding: 0;
  }
}

.navigation__item {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0rem;
}

.navigation__link {
  text-decoration: none;
  color: #010201;
}
.navigation__link_active {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0rem;
  font-family: Inika;
  color: #E06733;
}

.about {
  background: #fff;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 93px 109px 94px 109px;
}
@media (max-width: 768px) {
  .about__wrapper {
    padding: 40px 50px 94px 50px;
    flex-direction: column;
  }
}

.about__text {
  width: 605px;
}
@media (max-width: 768px) {
  .about__text {
    width: 668px;
  }
}

.about__img {
  background-image: url("../img/about/houseplant.png");
  width: 464px;
  height: 479px;
  display: inline-block;
}
@media (max-width: 768px) {
  .about__img {
    background-image: url("../img/about/houseplant-tablet.png");
    width: 250px;
    height: 258px;
  }
}

.about__title {
  margin: 0 142px 40px 0;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.2rem;
  letter-spacing: 0rem;
  color: #499A18;
}
.about__title-colored {
  color: #E06733;
}
@media (max-width: 768px) {
  .about__title {
    margin: 0 0 51px 0;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: 0rem;
    padding: 0 140px;
    text-align: center;
  }
}

.about__description {
  margin: 0;
  width: 463px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0rem;
  color: #636060;
}
@media (max-width: 768px) {
  .about__description {
    width: auto;
    margin-bottom: 70px;
  }
}

#about-us {
  scroll-behavior: smooth;
}

.contacts {
  background: #f1f2ec;
}

.contacts__wrapper {
  padding: 0 109px;
  display: flex;
}

.contacts__img {
  padding-top: 53px;
}

.contacts__title {
  margin-left: 113px;
  padding-top: 60px;
}

.contacts__title-title {
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.2rem;
  letter-spacing: 0rem;
  color: #499A18;
}

.contacts__city {
  padding-top: 148px;
  margin-left: 69px;
  flex-grow: 1;
}

.contacts__img-img {
  width: 400px;
  height: 497px;
  background-image: url(../img/contacts/contact_woman.png);
  display: inline-block;
  vertical-align: bottom;
}

.contacts-item-content__item {
  width: 100%;
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0rem;
  color: #717171;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 17px 5px 20px;
  background: #D6E7D2;
}
.contacts-item-content__item:hover {
  cursor: pointer;
}

.contacts-item-content {
  margin: 0;
  padding: 0;
}

.contacts-item-content__icon {
  width: 16px;
  height: 16px;
  background-image: url(../img/contacts/accordion_btn.png);
  display: inline-block;
}

#contacts {
  scroll-behavior: smooth;
}

.prices__wrapper {
  padding: 40px 109px 120px 109px;
}

.prices__content {
  padding-right: 279px;
}

.prices-item-content {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  padding: 34px 41px;
  margin: 60px 0 0 0;
}
.prices-item-content :first-child {
  margin-top: 0;
}

.prices-item-content__item {
  list-style: none;
  border-radius: 20px;
  background: #f1f2ec;
  margin: 32px 0 0;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0rem;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}
.prices-item-content__item:hover {
  cursor: pointer;
}

.prices__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prices-item-content__icon {
  width: 16px;
  height: 16px;
  background-image: url(../img/prices/accordion_btn.png);
  display: inline-block;
}

.prices__title-content {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: 0rem;
  color: #000;
}

.prices__title-contact {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: 0rem;
  color: #000;
  text-align: end;
  padding-left: 50px;
}
.prices__title-contact-colored {
  color: #499A18;
}

.prices__img {
  width: 152px;
  height: 175px;
  display: inline-block;
  background-image: url(../img/prices/leafs.png);
  margin-top: 39px;
}

.prices__button {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
  letter-spacing: 0rem;
  background: #fff;
  border: 1px solid #E06733;
  color: #E06733;
  border-radius: 5px;
  padding: 12px 34px 12px 30px;
  margin-top: 38px;
}
.prices__button:hover {
  background: #E06733;
  color: #fff;
}

#price {
  scroll-behavior: smooth;
}

.service {
  background: #f1f2ec;
}

.service__wrapper {
  padding: 90px 109px 66px 109px;
}
@media (max-width: 768px) {
  .service__wrapper {
    padding: 40px 50px 34px 50px;
  }
}

.service-card {
  margin: 0 0 38px;
}

.service-card__wrapper {
  width: 330px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  background-color: #f1f2ec;
}
@media (max-width: 768px) {
  .service-card__wrapper {
    width: 281px;
    height: auto;
  }
}

.service-card__img {
  width: 330px;
  height: 350px;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 768px) {
  .service-card__img {
    width: 281px;
    height: 350px;
  }
}

.service-card__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0rem;
  color: #E06733;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .service-card__title {
    margin: 0;
  }
}

.service-card__text-content {
  width: 100%;
  padding: 10px 0 36px 0;
  text-align: center;
  border: 1px solid #E3E1D5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 768px) {
  .service-card__text-content {
    padding-bottom: 20px;
    border: none;
    border-top: 1px solid #E3E1D5;
  }
}

.service-card__description {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2 rem;
  letter-spacing: 0rem;
  color: #636060;
  margin: 10px 0 0 0;
}
@media (max-width: 768px) {
  .service-card__description {
    padding: 0 10px;
  }
}

.service-card__img-garden-care-1 {
  background-image: url("../img/service/garden-care-1.jpg");
}
@media (max-width: 768px) {
  .service-card__img-garden-care-1 {
    background-image: url("../img/service/garden-care-tablet-1.jpg");
  }
}

.service-card__img-planting-1 {
  background-image: url("../img/service/planting-1.jpg");
}
@media (max-width: 768px) {
  .service-card__img-planting-1 {
    background-image: url("../img/service/planting-tablet-1.jpg");
  }
}

.service-card__img-lawn-care {
  background-image: url("../img/service/lawn-care.jpg");
}
@media (max-width: 768px) {
  .service-card__img-lawn-care {
    background-image: url("../img/service/lawn-care-tablet.jpg");
  }
}

.service-card__img-planting-2 {
  background-image: url("../img/service/planting-2.jpg");
}
@media (max-width: 768px) {
  .service-card__img-planting-2 {
    background-image: url("../img/service/planting-tablet-2.jpg");
  }
}

.service-card__img-garden-care-2 {
  background-image: url("../img/service/garden-care-2.jpg");
}
@media (max-width: 768px) {
  .service-card__img-garden-care-2 {
    background-image: url("../img/service/garden-care-tablet-2.jpg");
  }
}

.service-card__img-planting-3 {
  background-image: url("../img/service/planting-3.jpg");
}
@media (max-width: 768px) {
  .service-card__img-planting-3 {
    background-image: url("../img/service/planting-tablet-3.jpg");
  }
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 324px 0px 109px;
}
@media (max-width: 768px) {
  .service-header {
    padding: 0 0 0 50px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.service-header__title {
  width: 306px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.2rem;
  letter-spacing: 0rem;
  color: #499A18;
}
@media (max-width: 768px) {
  .service-header__title {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: 0rem;
    width: auto;
    margin: 60px 412px 43px 0px;
  }
}

.service-header__button-wrapper {
  width: 559px;
  display: flex;
  justify-content: space-between;
}
.service-header__button {
  width: 161px;
  height: 50px;
  padding: 12px 0px;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0rem;
  color: #E06733;
  background: #f1f2ec;
  border: 1px solid #E06733;
  border-radius: 5px;
}
.service-header__button-active {
  background: #E06733;
  color: #fff;
}
.service-header__button:hover {
  background: #E06733;
  color: #fff;
}

#service {
  scroll-behavior: smooth;
}

.welcome {
  background: #f1f2ec;
}

.welcome__wrapper {
  padding: 62px 109px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .welcome__wrapper {
    padding: 40px 50px 70px 50px;
    flex-direction: row-reverse;
  }
}

.welcome__text {
  width: 549px;
  padding: 36px 0 0 0;
}
@media (max-width: 768px) {
  .welcome__text {
    width: 346px;
    padding: 0;
  }
}

.welcome__img {
  background-image: url("../img/welcome/leafs.png");
  width: 449px;
  height: 407px;
  display: inline-block;
}
@media (max-width: 768px) {
  .welcome__img {
    background-image: url("../img/welcome/leafs-tablet.png");
    background-repeat: no-repeat;
    width: 280px;
    height: 254px;
    display: inline-block;
  }
}

.welcome__title {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0rem;
  color: #717171;
}
.welcome__title-colored {
  color: #499A18;
}
@media (max-width: 768px) {
  .welcome__title {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0rem;
  }
}

.welcome__description {
  margin: 42px 0 0 0;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0rem;
  color: #636060;
}
@media (max-width: 768px) {
  .welcome__description {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0rem;
    margin: 30px 0 0 5px;
  }
}

.welcome__button {
  padding: 10px 26px;
  margin: 48px 0 0 0;
  background: #f1f2ec;
  border-radius: 10px;
  border: 2px solid #E06733;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0rem;
  color: #000;
}
.welcome__button:hover {
  background: #E06733;
  color: #fff;
}
@media (max-width: 768px) {
  .welcome__button {
    margin: 36px 0 0 0;
  }
}

#home {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}

.header {
  background: #f1f2ec;
}

.header__wrapper {
  padding: 25px 109px 25px 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 21px 50px 14px 50px;
  }
}

.footer__wrapper {
  padding: 40px 109px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inst {
  width: 32px;
  height: 32px;
  background-image: url(../img/footer/inst.svg);
  display: inline-block;
}

.footer__fb {
  width: 32px;
  height: 32px;
  background-image: url(../img/footer/fb.svg);
  display: inline-block;
}

.footer__tw {
  width: 32px;
  height: 32px;
  background-image: url(../img/footer/tw.svg);
  display: inline-block;
}

.footer__pint {
  width: 32px;
  height: 32px;
  background-image: url(../img/footer/pint.svg);
  display: inline-block;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.footer__social-list > * {
  margin-left: 20px;
}
.footer__social-list :first-child {
  margin-left: 0;
}

.footer__link {
  text-decoration: none;
  color: #000;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__link-social {
  text-decoration: none;
}

.footer__data-data, .footer__rss-rss {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0rem;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 27%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 50%;
}

/*# sourceMappingURL=style.css.map */
